<!DOCTYPE HTML>
<html>
<head>
<link rel='stylesheet' href='/css/style.css'>
<script src='/js/app.js'></script>
<link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">

    {{>header}}
    
    <img id="about-image" src='img/me.jpeg'>

    <p id="description">Hello! My name is Robert, this site was created by me using data from mapbox.com, Dark Sky API, and Google Maps API.
        Enjoy your forecasts!
    </p>

    </div>

    {{>footer}}
</body>




</html>