<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/css/style.css'>
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>Best weather on the web.</p>

    <form>
        <input placeholder="Location">

        <button>Search</button>
    </form>

    <p id='message-1'></p>
    <p id='message-2'></p>

    <div id="map"></div>
</div>
    
    {{>footer}}

    <script src='/js/app.js'></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6GQfmk9x1_eOwMznyrmQWXaLRE8tRaas&callback=initMap"
    async defer></script>
</body>




</html>