html
{
  -webkit-tap-highlight-color:transparent;
}

img{
    width: 300px;
    display: block;
    margin: auto;
    
}

body{
    color: #333333;
    font-family: sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 30px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Amiri', serif;
}

header a {
    text-decoration: none;
    color: #888888;
    margin: 0px 80px 0px 80px;
    font-family: 'Open Sans', sans-serif;
}

header a:hover{
    color: #333333;;
}

input, button:focus {outline:none;}

input {
    border-radius: 10px;
    border: 1px solid #cccccc;
    width: 200px;
    height: 25px;
}

input,
input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
}

button {
    background-color: #06a94d;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
}

form{
    text-align: center;
    margin: 25px;
}

 #map {
    height: 300px;
    padding: 8px;
    }

#instruction-message{
    text-align: center;
}

#description{
    float: right;
    margin-top: 10px;
}


#description{
    margin-top: 60px;
}